<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">3D Models and Maps</h2>
                <hr class="light">
                <p class="text-faded">We are an all-in-one service that provides 3d models and maps of all your project needs.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
